<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="adminRestController" class="com.restsoap.redsocial.rest.AdministradorREST">
		<constructor-arg index="0" ref="adminService"></constructor-arg>
	</bean>
		
	<bean id="adminService" class="com.restsoap.redsocial.services.ServiceAdministrador">
		<constructor-arg index="0" ref="adminDAO"></constructor-arg>
	</bean>
		
	<bean id="adminDAO" class="com.restsoap.redsocial.dao.AdministradorDAO" />

</beans>